<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" href="">MyAthlete</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roster">My Athletes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <form action="/injury/create" method="post" class="col-6 mx-auto">
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <!-- ^this allows me to just pass through request.form instead of creating another dictionary;
        It's fulfilling the requirement of the user_id from the def save method in athlete.py-->
        <h2 class="text-center mt-3"><u>Create New Injury</u></h2>
        <div class="form-group">
            <label for="athlete_id">Athlete Name:</label>
            <select name="athlete_id" class="form-select">
                {% for athlete in athletes %}
                <option value="{{athlete.id}}">{{athlete.first_name}} {{athlete.last_name}}</option>
                {% endfor %}

            </select>
        </div>
        <div class="form-group">
            <label for="sport">Sport:</label>
            <input type="text" name="sport" class="form-control">
        </div>
        <div class="form-group">
            <label for="dob">Date Injured:</label>
            <input type="date" name="date_injured" class="form-control">
        </div>
        <div class="form-group">
            <label for="body_part">Body Part:</label>
            <input type="text" name="body_part" class="form-control">
        </div>
        <div class="form-group">
            <label for="subjective">Subjective:</label>
            <textarea type="text" name="subjective" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="objective">Objective:</label>
            <textarea type="text" name="objective" class="form-control"></textarea> 
        </div>
        <div class="form-group">
            <label for="assessment">Assessment:</label>
            <input type="text" name="assessment" class="form-control">
        </div>
        <div class="form-group">
            <label for="plan">Plan:</label>
            <textarea type="text" name="plan" class="form-control" id="plan"></textarea>
        </div>
        <input type="submit" value="Add Injury" class="btn btn-success mt-3">
    </form>
</body>
</html>