<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Document</title>
</head>
<body class="bg-color">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary menu-font">
        <div class="container">
        <a class="navbar-brand logo-font" href="/dashboard" style="width: 150px;">MyAthlete</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mt-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/roster">Roster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            </ul>
        </div>
    </nav>
    
    
    
    
    <div class="m-3">
    {% if session['user_id'] == injury.user.id %}
    <h3><u>{{injury.athlete.first_name}} {{injury.athlete.last_name}}'s Injury</u></h3>
        <p><strong>Sport:</strong> {{injury.sport}}</p>
        <p><strong>Body Part:</strong> {{injury.body_part}}</p>
        <p><strong>Date Injured:</strong> {{injury.date_injured.strftime("%B %d, %Y")}}</p>
                        <p><u><strong>Subjective Information:</u></strong> <br>{{injury.subjective}}</p>
                        <p><u><strong>Objective Information:</u></strong> <br>{{injury.objective}}</p>
                        <p><u><strong>Assessment:</u></strong><br> {{injury.assessment}}</p>
                        <p><u><strong>Plan:</u></strong><br> {{injury.plan}}</p>
                        {% endif %}
    </div>
    <div class="m-3">
        <a href="/injury/edit/{{injury.id}}">edit injury</a> |
        <a href="/delete/{{injury.id}}" method="post">delete injury</a>

    </div>
                    
                    
</body>
</html>